@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

body{
    background-color: rgba(0, 0, 0, 0.849);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

h4{
    text-align: center;
    font-size:40px;

}

hr{
    margin: 10px 0;
    background-color: white;
    border: 0;
    height: 1px;
    width: 100%;
}




/* Style pour colorer les labels en vert */
.form-label {
    color: rgb(74, 142, 35); /* Couleur que tu veux pour les labels */
}

/* Si tu veux que la couleur du bouton S'inscrire soit identique à celle des labels */
.btn-primary {
    background-color: rgb(74, 142, 35); /* Couleur pour le fond du bouton */
    border-color: rgb(74, 142, 35); /* Couleur pour la bordure du bouton */
}

/* Pour l'état de survol du bouton (hover) */
.btn-primary:hover {
    background-color: rgb(60, 116, 30); /* Un peu plus foncé pour l'effet hover */
    border-color: rgb(60, 116, 30); /* Un peu plus foncé pour l'effet hover */
}

/* Pour l'état focus du bouton (quand il est sélectionné) */
.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(74, 142, 35, 0.5); /* Ombre pour l'effet focus */
    border-color: rgb(60, 116, 30); /* Un peu plus foncé pour l'effet focus */
}


